body {
  background-color: #607D8B;
}

.row {
  max-width: 100%; }

.menu {
  background-color: #333333;
  padding: 1.5rem 3rem;
  height: auto; }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block; }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      .menu .inline-list a:hover {
        color: #87d37c;
        transition: all .3s ease-in-out; }
    .menu .inline-list .active a {
      color: #87d37c; }
  .menu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 5rem; }
      .menu .inline-list {
        float: left;
        margin: 0 0 0 1.5rem; }
      .menu a:hover {
        border-bottom: 2px solid #87d37c; } }
  .menu .account-action {
    float: right;
    margin: -.75rem 0 0 0; }
    .menu .account-action li {
      margin-left: .2rem; }
    .menu .account-action a {
      padding: 0.75rem 1rem; }
    .menu .account-action a.signup {
      font-weight: bold;
      background-color: #3d4146;
      border-radius: 3px; }

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #E91E63; }
  .name i {
    color: #87d37c;
    margin-right: 0.5rem; }
  @media only screen and (min-width: 40.063em) {
    .name {
      float: left; } }
